
.container {
    background-color: var(--root-background-color);
    border-top: 1px solid #E5E5E9;
    padding: 1rem 0 3rem;
    position:-webkit-sticky;
    position:sticky;
    bottom: 0;
}

.button {
    border: none;
    border-radius: 1rem;
    align-items: center;
    background-color: var(--button-primary-color);
    padding: 1.5rem;
    color: #FFF;
    font-size: 2rem;
    width: 100%;
}

.button:active {
    background-color: var(--button-primary-active-color);
}