html,
body {
    background-color: var(--root-background-color);
}

header,
main,
footer {
    background-color: rgba(red, 0.2);
    margin: 0 auto;
}

h1 {
    font-family: Barlow Condensed,Helvetica,sans-serif;
    font-size: 7rem;
}

h2 {
    font-family: Barlow Condensed,Helvetica,sans-serif;
    font-size: 6rem;
}