html {
    font-size: 62.5%; /* Set font size to 10px, when using rem */
}

body {
    color: var(--default-text-color);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-size: 2rem; /* Use 16px font size, as a base font size */
    line-height: 1.5;
}