:root {
  --root-background-color: #f2f2f7;
  --default-text-color: #262626;
  --input-block-name-color: #8e8e93;
  --panel-color: #ffffff;
  --button-primary-color: #007aff;
  --button-primary-active-color: #6cb3ff;
}
